@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500&display=swap');
@import "~lucide-static/font/Lucide.css";

html {
  background-color: #432b55;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.bg {
  position: fixed;
  opacity: 0.15;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 99%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  z-index: 10;
  top: 5px;
}

.navbar_icon {
  margin-left: 18px;
  margin-top: 5px;
  font-family: 'Bad Script', cursive;
  color: #d2aeff;
  font-size: 35px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar_elements {
  text-decoration: none;
  color: #d2aeff;
  font-size: 30px;
  padding: 0 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

.navbar_elements:hover {
  color: #ffffff;
}

.navbar_button {
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: #000000;
  text-align: start;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 25px;
  padding-left: 20px;
  border: 3px solid #7b4f99;
  background-color: #d0affa;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
}

.navbar_button:hover {
  color: #d2aeff;
  background-color: #432b55;
  border: 2px solid #d2aeff;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 20px;
  width: 30px;
  height: 20px;
  position: relative;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d2aeff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 8px;
}

.hamburger span:nth-child(4) {
  top: 16px;
}

.hamburger.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.hidden_button {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}


@media screen and (max-width: 460px) {
  .icon_tray {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

@media screen and (max-width: 1200px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px 0;
  }

  .home {
    margin-top: 50px;
  }

  .visible_button {
    display: none;
  }

  .hidden_button {
    display: block;
  }

  .nav-links.active {
    display: flex;
  }

  .navbar_elements {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
    margin-top: 18px;
  }

  .navbar_button {
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
    border-radius: 10px;
    padding: 5px 15px;
    border: 2px solid #7b4f99;
    background-color: #d0affa;
    cursor: pointer;
  }
}


.home {
  display: flex;
  height: 100vh;
}

.home_intro,
.home_links {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_intro p {
  text-align: left;
  font-size: 40px;
  font-family: 'Prompt', sans-serif;
  color: #ffffff;
  margin-top: 10px;
  font-weight: 300;
}

.home_intro .name {
  color: #d0affa;
  text-shadow: 0 0 10px #c294fa, 0 0 20px #c294fa, 0 0 30px #8d46eb, 0 0 40px #8d46eb, 0 0 50px #8d46eb, 0 0 60px #8d46eb, 0 0 70px #8d46eb;
}

.home_links {
  width: 50%;
  float: right;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  color: white;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: #432b55;
}

.button:hover .text {
  color: #181717;
}

.button:hover svg path {
  fill: #181717;
}

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #c294fa;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  max-width: auto;
  display: inline-block;
  width: auto;
  /* Adjust as needed */
  animation:
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #c294fa;
  }
}

.typewriter {
  width: auto;
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid #c294fa;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 5s steps(100, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    max-width: 0
  }

  to {
    max-width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #c294fa
  }
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.title {
  /* font-size: 2.25rem; */
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #d0affa;
}

.subtitle {
  max-width: 900px;
  margin: 0 auto;
  color: #c294fa;
}

.timeline {
  position: relative;
}

.timeline::after {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #d2aeff;
}

.timeline-item {
  position: relative;
  padding-left: 24px;
  margin-bottom: 40px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -5px;
  top: 10px;
  width: 12px;
  height: 12px;
  background-color: #c294fa;
  border-radius: 50%;
  z-index: 1;
}

.job-title {
  font-weight: 500;
  margin-bottom: 4px;
  color: #d0affa;
}

.company,
.date {
  color: #c294fa;
  /* font-size: 0.875rem; */
}

.description {
  color: #ffffff;
  /* font-size: 0.875rem; */
}

.pro_subhead {
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .section {
    padding: 96px 0;
  }

  .container-exp {
    padding-top: 100px;
  }

  .timeline {
    margin-top: 64px;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 128px 0;
  }

  .timeline {
    margin-top: 80px;
  }
}

@media screen and (max-width: 760px) {
  .exp_subhead {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .container-exp {
    padding-left: 30px;
    padding-right: 30px;
  }
}


.projects-section {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 12rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-header {
  margin-bottom: 3rem;
  text-align: center;
}

.section-header h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid #7b4f99; /* Border color */
  transition: all 0.3s ease;
  background-color: #432b55;
}

.project-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  text-indent: -9999px;
}

.project-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  transition: all 0.3s ease;
}

.project-card:hover .project-image {
  transform: scale(1.05);
}

.project-content {
  padding: 1rem;
}

.project-content h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.project-content p {
  font-size: 1rem;
  color: #d0affa;
  margin-bottom: 1rem;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
}

.project-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #d2aeff; /* Button text color */
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.project-button:hover {
  color: #ffffff;
}

.svg-icon {
  fill: #d2aeff;
  stroke: #d2aeff;
}